{% load disqus_tags flatblock_tags cache navbar generic_content blog compress analytics elsewhere feeds i18n archive %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ BLOG_SETTINGS.site_name }}{% endblock %}</title>

    {% block meta %}
    <meta name="keywords" content="{{ BLOG_SETTINGS.meta_keywords }}">
    <meta name="description" content="{{ BLOG_SETTINGS.meta_description }}">
    <meta name="author" content="{{ BLOG_SETTINGS.author_name }}">
    {% endblock %}

     <meta name="copyright" content="{{ BLOG_SETTINGS.copyright }}" />
     <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon"/>

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} main rss feed" href="{{ BLOG_SETTINGS.rss_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all entries feed" href="/feeds/all/">
    <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all posts feed" href="/feeds/latest/">

  {% if category %}<link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} - {{ category }} posts" href="/feeds/categories/{{ category.title|lower }}">{% endif %}
    {% endblock %}

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/joshbohde.com.css" type="text/css" media="all" charset="utf-8">
   {% endcompress %}

   <!--[if IE 6]>
   <script src="{{ STATIC_URL }}js/DD_belatedPNG_0.0.7a-min.js"></script>
   <script>
   DD_belatedPNG.fix('#bleeder, .logo');
   </script>
   <style>
       #bleeder{ display: none;}
       #form-search{ width: auto; display: block; float: right; clear: both;}
       .navbar-one{ float: right; clear: both;}
   </style>
   <![endif]-->

    {% disqus_dev %}
    {% block extra_head %}{% endblock %}
  </head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}blog{% endblock %}">
  <div id="body-container" class="clearfix">
    {% block body %}

  <div id="header" class="clearfix">
    <div id="logo">
      <h1><a href="/" title="{{ BLOG_SETTINGS.site_name }}">{{ BLOG_SETTINGS.site_name }}</a></h1>
    </div>
    <!-- /logo -->

    <div id="nav">
      {% cache 3600 "base.navbars" %}
      {% navbars %}
      {% endcache %}
      <form action="/search/" method="GET"><input type="text" name="q" value="{{ search_term }}"><input type="submit" class="button" value="{% trans "Search" %}"></form>
    </div>
    <!-- /nav -->

  </div>
  <!-- /header -->

  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <!-- /content -->

  {% endblock %}
  </div>
    <!-- /body-container -->

    <div id="footer">
      <p>
        {% cache 3600 "base.footer" %}
        {% flatblock "footer" 3600 "flatblocks/bare.html" %}
        {% endcache %}
      </p>
    </div>
    <!-- /footer -->

    <!-- google analtyics -->
    {% cache 7200 "base.analytics" %}
    {% analytics %}
    {% endcache %}
    {% block extra_body %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $.getScript('{{ STATIC_URL }}js/prettify.js', function(){
                prettyPrint();
            });
        });
        </script>
    {% endblock %}
  </body>
</html>
